body {
  background-color: black;
  color: white;
  font-family: "Roboto" sans-serif;
}
header img {
  height: 200px;
  width: 200px;
  padding-left: 50px;
}
header {
  background-color: black;
  margin: 0;
}

.container {
  font-family: "Roboto" sans-serif;
  border: black solid 4px;
  padding: 50px;
}
h2 {
  font-family: "Roboto" sans-serif;
  font-size: 42px;
  padding-bottom: 30px;
  z-index: 100;
}

.img-films {
  display: flex;
  gap: 4px;
  overflow-x: scroll;
  scrollbar-width: none;
  height: 250px;
  transition: transform 0.2s;
  border-radius: 10px;
}
.img-films:hover {
  transform: scale(1.5);
}
